<h1>Your Profile</h1>
<p><strong>First Name:</strong> <%= user.firstName %></p>
<p><strong>Last Name:</strong> <%= user.lastName %></p>
<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>Email:</strong> <%= user.email %></p>
<a href="/user/logout">Log Out</a>
